#projects .slickSlider  {height: 300px; width: 70%; margin: auto;}
#projects .slickSlider .slickSlide {width:200px !important; height:240px !important; background-color:white; border-radius:10px; box-shadow: 2px 2px 20px #000000;}
#projects .slickSlider .slickSlide .container{width:100%; height:100%; padding:20px;}
#projects .slickSlider .slickSlide .container .row img{max-width:150px; max-height:100px; margin:auto; border-radius: 10px;}
#projects .slickSlider .slickSlide .container .row .title{margin:auto; margin-top: 20px; margin-bottom: 5px;}
#projects .slickSlider .slickSlide .container .row .tags{margin:auto; color: #4f4f4f; text-transform: uppercase; font-size: 0.5em; text-align: center;}

/* the slides */
#projects .slick-slide {margin: 0 10px;}
/* the parent */
#projects .slick-list {margin: 0 -10px; height:240px !important;}

/*Button See more*/
#projects .slickSlider .slickSlide .slideButton { outline: none; text-decoration: none; color: #4f4f4f; display: inline-block; padding: 5px 10px; border: 1px solid #4f4f4f; border-radius: 20px; transition: all 0.2s ease-in; position: relative; overflow: hidden; margin: auto; margin-top:10px; width: 35px; height:35px;}
#projects .slickSlider .slickSlide .buttonMore:hover { cursor: pointer; outline: none; text-decoration: none; color: #ffffff; border: 1px solid rgba(0,153,0,0.5); background-color: rgba(0,153,0,0.5);}
#projects .slickSlider .slickSlide .buttonLink:hover { cursor: pointer; outline: none; text-decoration: none; color: #ffffff; border: 1px solid rgba(0,0,255,0.5); background-color: rgba(0, 115, 153,0.5);}
#projects .slickSlider .slickSlide .buttonGithub:hover { cursor: pointer; outline: none; text-decoration: none; color: #ffffff; border: 1px solid rgba(50,50,50,0.5); background-color: rgba(100, 100, 100,0.5);}

/*Slick Arrows*/
#projects .slickSlider .slick-arrow {text-shadow: 2px 2px 10px #000000; top: 92%; box-shadow: 2px 2px 2px #000000;}
#projects .slickSlider .slick-arrow::before { font-size:35px;}

#projects .slickSlider .slick-prev { left:215px;}
#projects .slickSlider .slick-next { right:230px;}

/*Slick Dots*/
#projects .slickSlider .slick-dots {display: none !important;}
